@charset "UTF-8";

h2 {
	font-size: 100px;
	color: #ee6e73;
	text-align: center;
	font-family: 'Pacifico', cursive; 

}

header {
	    border: 1px solid black;
    	border-radius: 8px;
}

input {
	color: black;
}

.fav {
     cursor: pointer; 
 }


