<!DOCTYPE html>
<html ng-app="sistema">
<head>
<title>Sistema Angular</title>
<meta charset="utf-8">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="js/init.js"> </script>




<script src="lib/angular/angular.min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/controllers.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link rel="stylesheet" type="text/css" href="css/estilo.css">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body ng-controller="controlePrincipal">
<header class="container">
<div class="row">
<h2 ng-bind="titulo"></h2>
<select id=cbPais>
    <option>Select Country</option>
    <option>Usa</option>
    <option>Canada</option>
    <option>Mexico</option>
</select>

</div>
</header>
<main class="container">
<div class="row">
	<div id="elementosdepesquisa">
		<img src="img/search.png" width="40" height="40">
		<h5>Pesquisar por Artista</h5>
	</div>
<input type="text" name="" ng-modeL="buscado.nome" placeholder="Digite o nome do artista">

</div>
<div class="row">
<table class="striped">

<thead>
	<tr>
		<th>Nome</th>
		<th>Foto do Artista</th>
		<th>Comentário sobre o artista</th>
		<th>Ação</th>
	</tr>
</thead>

<tbody>
	<tr ng-repeat="i in artistasCadastrados | filter:buscado">
		<td>{{i.nome}}</td>
		<td><img class="circle" alt="Imagem inválida" src="{{i.imagem}}" width="100" height="100"></td>
		<td>{{i.comentario}}</td>
		<td>
			<button ng-click="editarArtista(i)" class="btn blue">Editar</button>
			<button ng-click="removerArtista(i)" class="btn red">Remover</button>
			<a ng-if="!i.ehFavorito" ng-click="favoritarArtista(i)" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">+</i></a>
			<img ng-if="i.ehFavorito" ng-click="desfavoritarArtista(i)" class="fav" src="img/fav.png" width="50" height="50">

		</td>
	</tr>
</tbody>
</table>

</div>

<div class="row">
  <!-- Modal Trigger -->
 <a ng-click="abreAdicionarArtista()" class="waves-effect waves-light btn">+ Adicionar Artista</a>
 <a ng-click="abreAdicionarAlbum()" class="waves-effect waves-light btn pink">+ Adicionar Álbum</a>
 <a ng-click="" class="waves-effect waves-light btn purple">+ Adicionar Música</a>
</div>

</main>


<!-- Estrutura modal para cadastrar/editar ARTISTAS -->
<div id="modal1" class="modal modal-fixed-footer">
<div class="modal-content">
<h4 ng-if="!editando">Adicionar um artista no sistema</h4>
<h4 ng-if="editando">Editar Artista</h4>
<p ng-if="!editando">Preencha todas as informações para cadastrar um artista no sistema!</p>
<p ng-if="editando">Preencha todas as informações para editar o artista!</p>

<p>Lembre-se de colocar uma URL válida ou o sistema não mostrará a imagem do artista</p>
<div class="row">
	  <div class="input-field col m6 s6">
	  <a>Nome do Artista<a>
  <input type="text" ng-modeL="Artista.nome" class="validate" maxlength="50">
</div>
	  <div class="input-field col m6 s6">
	  <a>URL com imagem do artista<a>
  <input type="text" ng-modeL="Artista.imagem" class="validate">
</div>
	  <div class="input-field col m6 s6">
	  <a>Comentário sobre o artista<a>
  <input type="text" ng-modeL="Artista.comentario" class="validate" maxlength="100">
</div>

</div>
</div>
<div class="modal-footer">
<a href="#!" class="modal-action modal-close waves-effect waves-green btn gray">Cancelar</a>

	 <a ng-if="!editando" ng-click="addArtista(Artista)" class="waves-effect waves-light btn blue">Cadastrar</a>
	 <a ng-if="editando" ng-click="salvarArtista(Artista)" class="waves-effect waves-light btn blue">Salvar</a>
</div>
</div>

<!-- Estrutura modal para cadastrar/editar ARTISTAS -->
<div id="modal2" class="modal modal-fixed-footer">
<div class="modal-content">
<h4>Adicionar um Álbum no sistema</h4>
<p>Preencha todas as informações para cadastrar um álbum no sistema!</p>

<p>Lembre-se de colocar uma URL válida ou o sistema não mostrará a imagem do álbum</p>
<div class="row">
	  <div class="input-field col m6 s6">
	  <a>Nome do Álbum<a>
  <input type="text" ng-modeL="Album.nome" class="validate" maxlength="50">
</div>
	  <div class="input-field col m6 s6">
	  <a>URL com imagem do álbum<a>
  <input type="text" ng-modeL="Album.imagem" class="validate">
</div>
	  <div class="input-field col m6 s6">
	  <a>Comentário sobre o álbum<a>
  <input type="text" ng-modeL="Album.comentario" class="validate" maxlength="100">
</div>
	<div>
		<select id=cbPais>
		    <option>Select Country</option>
		    <option>Usa</option>
		    <option>Canada</option>
		    <option>Mexico</option>
		</select>

	  </div>
</div>
</div>
<div class="modal-footer">
<a href="#!" class="modal-action modal-close waves-effect waves-green btn gray">Cancelar</a>

	 <a ng-click="addAlbum(Album)" class="waves-effect waves-light btn blue">Cadastrar</a>
</div>
</div>




</body>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Titulo do rodapé</h5>
        <p class="grey-text text-lighten-4">Alguma informação importante aqui.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com/M.Vinicius.Tpv">- Facebook</a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://github.com/marcusvlc">- GitHub</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 by: Marcus Vinicius
    </div>
  </div>
</footer>
</html>